{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-2">
                <label for="nombre" class="form-label">Nombre Publicación</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="nombre" id="nombre">
                <div id="nombreAyuda" class="form-text">Escribe un nombre breve, este será el titulo para la publicación
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label for="ubicacion" class="form-label">Ubicacion</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="ubicacion" id="ubicacion">
                <div id="ubicacionAyuda" class="form-text">Indica la Ubicacion de la casa/lote/terreno</div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label for="linkMaps" class="form-label">Link de google maps</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="linkMaps" id="linkMaps">
                <div id="linkMapsAyuda" class="form-text">Puedes agregar un link de google maps para adjuntar a tus
                    publicaciones</div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label for="descripcion" class="form-label">Descripción</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="descripcion" id="descripcion">
                <div id="descripcionAyuda" class="form-text">Describe en menos de 500 caracteres el contenido de la
                    publicacion</div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label for="precio" class="form-label">Precio</label>
            </div>
            <div class="col">
                <input type="number" class="form-control" name="precio" id="precio">
                <div id="precioAyuda" class="form-text">Ingresa el precio en dolares</div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary position-relative start-50">Cargar</button>
</form>
{% endblock %}