{% extends 'base.html' %}

{% block content %}
<table class="table table-striped">
    <th>Titulo</th>
    <th>Ubicacion</th>
    <th>Mapa</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th>Agregado el:</th>
    <th>Estado</th>

    {% if user.is_authenticated %}
        <th>Editar</th>
        <th>Eliminar</th>
    {% endif %}

    {% for elemento in lista %}
        <tr>
            <td>{{elemento.nombre}}</td>
            <td>{{elemento.ubicacion}}</td>
            <td>{{elemento.linkMaps}}</td>
            <td>{{elemento.descripcion}}</td>
            <td>{{elemento.precio}}</td>
            <td>{{elemento.fechaAgregado}}</td>
            <td>{{elemento.estado}}</td>
            {% if user.is_authenticated %}
                <td><button type="button" onclick="editar('{{elemento.id}}')" class="btn btn-light">✏️</button></td>
                <td><a href="/inmueble/borrar/{{elemento.id}}"><button type="button"  class="btn btn-light" >🗑️</button></a></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% if user.is_authenticated %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
        function editar(id) {
        $.ajax({
            type: 'POST',
            url: "{% url 'existeProducto' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id:id
            },
            success: function (data) {

                if (data['status'] === "error") {
                    $('#message').text('Error!');
                    return false
                }
                
                $('#message').text('Servicio agregado a estilista con exito');
                console.log("{% url 'existeProducto' %}");
                setTimeout(function () {
                    window.location.href = data["direccion"];
                    //window.location.href = "{% url 'inmuebleEditar' id=1 %}";

                }, 500);
            },
            error: function (error) {
                console.log(error);
            },
        })
    }
    </script>
{% endif %}
{% endblock %}