/* Variables de colores basadas en la paleta anterior */
:root {
    --color-principal: #228B22;
    --color-secundario: #7CB342;
    --color-acento: #D4AC0D;
    --color-texto: #FFFFFF;
    --color-fondo: #F2F2F2;
  }
  
  /* Personalizaciones para Bootstrap */
  
  /* Botones */
  .btn-primary {
    background-color: var(--color-principal);
    border-color: var(--color-principal);
  }
  
  .btn-secondary {
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
  }
  
  .btn-success {
    background-color: var(--color-principal);
    border-color: var(--color-principal);
  }
  
  /* Enlaces */
  a {
    color: var(--color-acento);
  }
  
  /* Fondos */
  body {
    background-color: var(--color-fondo);
  }
  
  /* Cabeceras */
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-principal);
  }
  
  /* Otras personalizaciones (ajusta según tus necesidades) */
  .card {
    border-color: var(--color-secundario);
  }
  
  
  
  .form-control {
    border-color: var(--color-secundario);
  }

  /* Navbar */
.navbar {
    background-color: var(--color-principal);
    border-bottom: 2px solid var(--color-secundario);
    border-radius: 0px 0px 10px 10px; /* Bordes redondeados en la parte inferior */
  }
  
  .navbar-nav .nav-link {
    color: var(--color-texto);
    border-radius: 5px; /* Bordes redondeados para los enlaces */
    transition: all 0.3s ease-in-out; /* Transición para las animaciones */
  }
  
  .navbar-nav .nav-link:hover {
    background-color: var(--color-acento);
    color: var(--color-texto);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
  }

 